table {
    margin-top: 5%;
    tr {
      cursor: pointer;
    }
}
  h3 {
    text-align: center;
    letter-spacing: 3px;
    margin-top: 5%;
  }
form{
   h3 {
     text-align: center;
     letter-spacing: 3px;
   }
//   width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  
  // width: 60%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  button {
    // margin: 0 auto;
    margin-bottom: 2%;
    margin-left: 35%;
    text-align: center;
    width: 25%;
    // margin: 0 auto;
  }
}